body {
    background-color: mistyrose;
    margin: 30px;
    font-size: larger;
}

button, input {
    font-size: large;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40em;
  }